[
  {
    "id": "2949fe9b-d344-4121-9175-a849589168d4",
    "target": "gemini://shit.cx/",
    "email": "jon@shit.cx",
    "check_frequency": 60,
    "retries": 3,
    "retry_rate": 5,
    "timeout": 5
  }
]
